{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/changelog",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      { "npmPublish": false }
    ],
    [
      "@droidsolutions-oss/semantic-release-update-file",
      {
        "files": [
          {
            "path": ["OmniSummitDeviceService/OmniSummitDeviceService.csproj"],
            "type": "xml",
            "replacements": [{ "key": "Version", "value": "${nextRelease.version}" }]
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "package-lock.json",
          "CHANGELOG.md",
          "OmniSummitDeviceService/OmniSummitDeviceService.csproj"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "7z a release.zip .\\OmniProtos .\\OmniSummitDeviceService .\\OmniSummitDeviceService.sln .\\OmniSummitDeviceService.UnitTests .\\README.md .\\Libraries"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "release.zip", "label": "Source Code Bundle" }
        ]
      }
    ]
  ]
}